{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<section id="page_registration" class="flex-center">
    <h2>Réinitialisation du mot de passe</h2>
    {{ form_start(requestForm, {'attr': {'id': 'forms'}}) }}
        {{ form_row(requestForm.email, {'attr': {'class': 'field'}}) }}
        <div>
            <p>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </p>
        </div>
        <button class="button">Envoyer</button>
    {{ form_end(requestForm) }}
</section>

{% endblock %}
