@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* ---------------------------------------------------------reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Montserrat';
  }

#content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ol, ul {
    list-style: none;
  }

  a img {
    border: none;
  }

  a{
      text-decoration: none;
  }

/* -----------------------------------------------------------GENERAL */
body{
    display: flex;
    justify-content: center;
}

#content{
    width: 1080px;
}

section{
    margin-bottom: 100px;
}

#main-menu ul li a{
    color :#4e4e4e;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: wrap; /* Empêche le texte de passer à la ligne */
    font-size: 20px;
    width: 100%;
}

.flex-center-bold{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: wrap; /* Empêche le texte de passer à la ligne */
    font-weight: bolder;
    font-size: 20px;
}

.flex-center-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: wrap; /* Empêche le texte de passer à la ligne */
}

.flex-around{
    display: flex;
    justify-content: space-around;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    margin-bottom: 20px; /* Espace entre chaque galerie */
    text-align: center; /* Centrer le contenu horizontalement */
}

.gallery-item h2 {
    margin-bottom: 10px; /* Espace entre le titre et l'image */
}

.button{
    width: 200px;
    color: #fff;
    background: #2baae2;
    border-radius: 10px;
}

.button:hover{
    background: #2288b4;
}

#logo-mobile{
    display: none;
}

.lien-annuler{
    text-decoration: underline !important;
    color: #666666;
}

.lien-annuler:hover{
    color: red;
}

.flex-annulation{
    display: flex;
    flex-direction: column-reverse;
}

/* -------------------------------------------------------------------------Header */

#content-logo{
    padding: 20px 0;
}

#content-connect {
    display: none;
}

.button,  #main-menu ul li a{
    height: 45px;
    font-size: 20px;
}

#main-menu ul li a{
    color: #2baae2;
}

#main-menu ul{
    width: 830px;
    height: 45px;
}

#main-menu ul li{
    width: 100%;
    min-width: 150px;
}

#main-menu ul li:nth-child(4){
    width: 150px !important;
}
#main-menu ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#main-menu ul li a:hover{
    color: #fff;
    background: #2baae2;
}

.lang{
    display: flex;
    justify-content: space-around;
}
.lang a{
    display: block;;
    width: 100%;
}

/* ------------------------------------Mot de passe */

.requirement{
    color: red;
}

.success{
    color: green;
}

#page_registration h6{
    line-height: 40px;
    color : #2baae2;
    display: flex;
    justify-content: center;
}

#page_registration span{
    font-size: 17px;
}

#password-requirements{
    margin-bottom: 20px;
}

/* ------------------------------------API BORNE */

main{
    min-height: 100vh;
    max-width: 100vw;
    padding: 20px;
}

.map{
    margin-top: 25px;
}

.users{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative; */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 27px;
    font-size: .8rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
    /* transition: .5s; */
}

.user h2 {
    font-size: 1.2rem;
}

.user img {
    width: 80px;
    border-radius: 50%;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.details{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 15px;
    border-radius: 0px 0px 16px 16px;
}

.txt-light{
    color: #666666;
}

.plus {
    text-decoration: none;
    color: #c80c54;
    font-size: 1.4rem;
    cursor: pointer;
}

.formAddMembre{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    border-radius: 10px;
    height: 35px;
    padding: 10px;
}

.btn{
    height: 35px;
    width: 120px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
}

.ville{
    width: 200px;
    margin-top: 10px;
}

#map { 
    height: 580px; 
    margin: 10px;
}

/* ------------------------------------MAP */

.ville{
    width: 200px;
    margin-top: 10px;
}

#map { 
    height: 580px; 
    margin: 10px;
}

.odswidget-map{
    min-height: 1080px !important;
}

/* ------------------------------------Menu mobile */

#menu{
   width: 100%;
    height: 45px;
}

#menu .burger{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    color: inherit;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 50px;
    position: absolute;
    top: 5px;
    left: 20px;
    display: none;
}

#menu .burger::before{
    content:url('../img/icon-svg/menu-button.svg');
    color : #fff;
}

#menu .burger:checked:before{
    content:url('../img/icon-svg/close-button.svg');
}

#menu .burger:checked + nav{
    height: 225px;
    width: 230px;
}

#icon-connect:before{
    content : url('../img/icon-svg/round-account.svg');
}

#content-connect a{
    margin-right: 20px;
    margin-top: 5px;
    z-index: 1;
}
/* --------------------------------------------------------FOOTER */
footer{
    background: #f5f5f5;
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer-inner{
    width: 880px;
    display: flex;
    justify-content: space-between;

}

footer h4{
    font-family: 'Exo-Bold';
    font-size: 20px;
    color: #2baae2;
}

footer p, footer a, .adresse{
    font-size: 19px;
    color : #4e4e4e;
    text-align: center;
}

footer p, .link-footer:nth-child(2), .link-footer:nth-child(3), .adresse{
    line-height: 30px;
}

footer a, .mail{
    text-decoration: underline;
}

footer a:hover, .mail:hover{
    color: #2baae2;
}

.mail{
    color : #4e4e4e;
}

.block-footer-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#copyright{
    height: 50px;
    width: 100%;
    background: #4e4e4e;
}

#copyright p{
    color : #fff;
    font-size: 17px;
}

#rs img {
    padding: 20px 10px;
}

.fa-brands{
    font-size: 25px;
    margin: 15px;
}

/* --------------------------------------------------------------PROFIL */

.fa-trash{
    color: #c80c54;
}

.fa-pen-to-square{
    color: #2baae2;
}

.fa-solid:hover{
    font-size: 22px;
}



/* ---------------------------------------------------------------ACCUEIL */

/* Slider */

.service{
    margin-top: 100px;
}

.slider2, .slider3{
    display: none;
}



#slider{
    display: flex;
    overflow: hidden;
    width: 1080px;
    height: 550px;
    object-fit: cover;
}

#slider a img{
    position: relative;
    min-width: 100%;
    height: 100%;
    animation-name: AutoSlide;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-color: #2baae2;
}

@keyframes AutoSlide {
    0% {
        right: 0%;
    }
    10% {
        right: 0%;
    }
    20% {
        right: 100%;
    }
    30% {
        right: 100%;
    }
    40% {
        right: 200%;
    }
    50% {
        right: 200%;
    }
    60% {
        right: 300%;
    }
    70% {
        right: 300%;
    }
    80% {
        right: 400%;
    }
    90% {
        right: 400%;
    }
    100% {
        right: 0%;
    }
}
/* Description */

#part-1{
    color: #2baae2;
    font-family: 'simply-rounded';
    font-size: 55px;
    line-height: 40px;
}

#part-2{
    color : #4e4e4e;
    font-size: 40px;
    line-height: 40px;
}

#description div{
    width: 980px;
    flex-direction: column;
}

#description h1{
    margin-bottom: 30px;
}

#description p{
    color : #4e4e4e;
    font-size: 17px;
    text-align: justify;
}

/* Section etape réservation */
#step{
    flex-direction: column;
}


#step h2, #contact h2,  #page_connexion h2, #page_registration h2, #content-cars h2, #gallery h2, #mention h2, #plan h2{
    font-size: 40px;
    line-height: 40px;
    color : #2baae2;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#page_registration h2{
    margin-top: 50px;
}

#content-user h2{
    font-size: 40px;
    line-height: 40px;
    color : #2baae2;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

figure{
    flex-direction: column;
    width: 245px;
    height: 120px;
}
figcaption{
    font-size: 20px;
    color: #4e4e4e;
}

.number{
    font-size: 30px ;
    color : #2baae2;
}

/*------------------------------------------------------------------CONTACT.HTML*/
#contact, #page_connexion, #page_registration, #gallery, #mention, #plan{
    /* margin-top: 100px; */
    flex-direction: column;
}

/* #contact h2{
    margin-bottom : 70px
} */

#contact p, #page_registration p, #gallery p{
    text-align: center;
    font-size: 20px;
    color: #4e4e4e;
}

#span{
    color : #2baae2;
}

#forms{
    margin-top: 30px;
    width: 540px;
    padding: 50px 0 20px 0;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000;
}

#categorie_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#vehicule_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#vehicule_form_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    border:solid 1px #c0c0c0;
    border-radius : 10px;
    height: 40px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.voit{
    height: 245px;
    width: 450px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.499);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.voit-resa{
    height: 180px;
    width: auto;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.499);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.p-resa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.voit:hover{
    box-shadow: 0px 0px 5px #000;
    transform: scale(1.05);
}

.voit-form{
    margin-top: 20px;
    height: 100%;
    width:100%;
    object-fit: contain;
    border: 1px solid rgba(0, 0, 0, 0.581);
}

.voit-detail{
    /* margin-top: 20px; */
    height: 100%;
    width:100%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.581);
}

.table-striped{
    color: black;
}

.table-responsive{
    display: flex;
    justify-content: center;
}

.table{
    border-color: black;
    text-align: center;
    white-space: nowrap;
}

.colonne{
    border-color: #000;
}

.forms{
    margin: 15px;
    width: 550px;
    padding: 20px 0 20px 0;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #000;
    overflow: hidden;
}

form p{
    padding: 0 50px 30px 50px;
    display: flex;
    justify-content: space-between;
}

#rgpd{
    margin: 10px;
}

.submit-content{
    justify-content: center !important;
}

form label{
    font-size: 15px;
    color: #2baae2;
}

#change_password_form_plainPassword_first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    border:solid 1px #c0c0c0;
    border-radius : 10px;
    height: 40px;
    text-align: center;
    margin: 20px 0 20px 0;
}

#change_password_form_plainPassword_second{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    border:solid 1px #c0c0c0;
    border-radius : 10px;
    height: 40px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.field{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    border:solid 1px #c0c0c0;
    border-radius : 10px;
    height: 40px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.field-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    resize: none;
    border:solid 1px #c0c0c0;
    border-radius : 15px;
    height: 150px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.date{
    color: #2baae2;
}

.field-nbBagage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    border:none;
    border-radius : 10px;
    height: 40px;
    text-align: center;
    margin: 20px 0 20px 0;
}

#vehicule_form_img{
    border: none;
    color: #2baae2;
}

.field-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 340px;
    border-radius : 10px;
    height: 20px;
    text-align: center;
    margin: 20px 0 20px 0;
}

#message {
    height: 200px;
    width: 320px;
    padding: 10px;
    border: solid 1px #c0c0c0;
    border-radius: 10px;
}

.field:hover, .field:focus,#message:hover, #message:focus{
    border:solid #2baae2 1px;
}

.button{
    border: 1px solid black;
}

.ag-name{
    color: #2baae2;
    font-family: 'simply-rounded';
    font-size: 35px;
}
#content-adresse{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adresse{
    margin-bottom: 20px;
}
#map, iframe{
    width: 100%;
    height: 300px;
}

label[for=rgpd], .rgpd-link{
    color : #4e4e4e !important;
}

.rgpd-link{
    text-decoration: underline !important;
}
/* -----------------------------------------------------------BOOKING.HTML */

/* MODULE DE RECHERCHE */
#search-content{
    height: 300px;
    background: url('../img/slider-desktop/bg-seach.jpg') no-repeat;
    margin-bottom: 50px;
}

#search-content select{
    height: 40px;
    width: 230px;
    margin-right: 20px;
    text-align-last: center;
    font-size: 15px;
} 

#search-content select option{
    text-align: left;
    font-size: 15px;
}

.text-intro{
    text-align: justify !important;
    padding: 0 15px;
}

#search-content .button{
    height: 40px;
}

#search-content form{
    flex-direction: column;
}

.select-content{
    padding: 82px 0;
}

/* LISTE VEHICULE */
.car{
    height: aut;
    width: 330px;
    display: flex;
    flex-direction: column;
    border: solid #4e4e4e 1px;
    margin-top: 50px;
    border-radius: 7px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}


.car div, .details div, .info div{
    height: 50px;
    border-top: solid 2px #2baae2;
    display: flex;
    width: 100%;
}

.car div span, .details div span, .info div p{
    width: 50%;
    color : #4e4e4e;  
    font-family: 'Exo-Reg';
}

.gray{
    background: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.mark {
    color: #2baae2 !important;
    font-size: 30px;
    font-family: 'Exo-Reg';
    background-color: #e6e5e5;
}

.price{
    color: #2baae2 !important;
    font-size: 30px;
    font-family: 'Exo-Reg';
}


.car:hover, #gallery a:hover img{
    box-shadow: 0px 0px 20px #000;
    transform: scale(1.05);
}

/* ------------------------------------------------------CAR.HTML */
#content-cars h2, .info h2 {
    margin-bottom: 25px;
}



.title-info{
    flex-direction: column;
    height: auto !important;
    padding: 10px 0 15px 0;
}

.title-info p{
width: auto !important;
}

.info .condition{
    height: auto !important;
    padding: 15px 0 15px 0;
}

.info .text{
    text-align: center;
    width: 100%;
    /* padding-right: 15px; */
}
a.booking-btn.flex-center.button{
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#content-details{
    margin-top: 100px;
    height: auto;
}
.details{
    flex-direction: column;    
    border: solid #4e4e4e 1px;
    width: 620px;
    
}

.info{
    width: 620px;
}

/* ---------------------------------------------------------CONNEXION.HTML */

#page_connexion form{
    width: 450px;
    margin-top: 50px;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000;
    padding : 50px 50px 0 50px;
    margin-bottom: 20px;
}

#page_connexion form p{
    padding: 0;
    padding-bottom: 50px;
}

.registration-link{
    text-decoration: underline;
    color:#4e4e4e;
    font-size : 20px;
}
.registration-link:hover{
    color: #2baae2;
}

.required{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

/* -------------------------------------------------------PAGE INSCRIPTION */

#page_registration form{
    /* margin-top: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
}

#civility{
    text-align-last: center;
}
/* -----------------------------------------------------------GALLERY.HTML */
h3{
    margin-top: 60px;
}
    #gallery div h2, #mention h3{
        font-size: 30px;
        color: #4e4e4e;
        margin: 30px 0;
        text-align: center;
    }

    #gallery{
        display: flex;
    }

    .titre-galerie{
        background-color: #2baae2;
        color: white;
        display: flex;
        justify-content: center;
        margin: 30px 0 15px 0;
    }

    #gallery h2{
        text-align: center;
    }

    .img-galerie{
        display: flex;
        flex-direction: row;
    }

/*----------------------------------------------------------- MENTION.HTML */

#mention h4{
    font-size: 20px;
    margin: 30px 0;
}

#mention a{
    color : #2baae2
}

#mention a:hover{
    color : #2288b4;
}

#mention li{
    font-family: 'Exo-Reg';
}
/* ---------------------------------------------------------CHOICE RESERVATION */

/* Styles de base pour le conteneur */
#gallery {
    text-align: center;
    padding: 20px;
}

#gallery .flex-wrap {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les cartes */
    flex-wrap: wrap;
}

.card {
    background-color: #f8f8f8; /* Couleur de fond des cartes */
    border: 1px solid #ddd; /* Bordure des cartes */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px;
    width: 300px; /* Largeur fixe des cartes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments à l'intérieur des cartes */
    text-align: center; /* Centre le texte */
}

.card-profil {
    background-color: #ffffff; /* Couleur de fond des cartes */
    border: 1px solid #3f3f3f55; /* Bordure des cartes */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /* Centre les éléments à l'intérieur des cartes */
    text-align: center; /* Centre le texte */
}

.blue{
    color: #2baae2;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 10px 0;
}

.titre-card{
    color: #2baae2;
}

.titre-resa{
    color: #2baae2;
}

.card .button {
    margin-top: auto; /* Place le bouton en bas de la carte */
    padding: 10px 20px;
    text-decoration: none;
}

.gestion{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.fa-check{
    color: green;
}

.mark {
  padding-top: 20px;
}

th{
    font-weight: bolder;
}

/*-------------------------------------------------------------GESTIO MULTIPLE */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 510px);
    gap: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 5px #0e0e0e;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.grid-container-categorie {
    display: grid;
    grid-template-columns: repeat(auto-fill, 328px);
    gap: 20px;
}

.form-container-galerie {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 5px #0e0e0e;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); Répartit les colonnes de manière égale 
     gap: 20px; /* Espacement entre les éléments de la grille 
} */

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-responsive {
    overflow-x: auto; /* Ajouter une barre de défilement horizontale si nécessaire */
}

.gestion {
    text-align: center;
    margin-bottom: 15px;
}


/* Style supplémentaire selon vos besoins */

/* ------------------------------------------------------------RESPONSIVE */
@media screen and (max-width : 1080px){
    #content{
        width: 100%;
    }

    #slider{
        width: 100%;
    }

    .slider1{
        width: 100%;
    }

    #mention{
        padding: 0 20px;
    }

}

@media screen and (max-width : 599px){
    /* slider */
    .slider1, .slider2{
        display: none;
    }

    .slider3{
        display: flex;
        width: 100%;
    }

    /* description */

    #part-2{
        font-size: 24px;
    }

    #description h1{
        margin-bottom: 20px;
    }
/* gagnez du temps */

    #step h2{
        font-size: 20px;
    }

/*footer*/
    #footer{
        margin-top: 0;
    }

    #copyright{
        height: auto;
    }

    #rs{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #rs img{
        width: 50px;
    }

    /*Contact*/
    #forms{
        display: flex;
        justify-content: center;
        width: 100% !important;
        margin-top: 50px;
        border-radius: 0;
        box-shadow: none;
    }

    #categorie_form{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form p{
        flex-direction: column;
        align-items: center;
        padding : 0 30px 30px 30px;
    }

    form label{
        font-size: 20px;
        line-height: 30px;
    }

    .field, #message{
        width: 100%;
    }

    body .select{
        margin-top: 0;
    }

    body .select select{
        margin-top: 0px;
        margin-right: 0 ;
    }

    /* CAR.HTML */
    #content-details img{
        width: 100%;
        padding-right: 0;
    }

    .title-info{
        text-align: center;
    }

    .info .text{
        margin-top: 20px;
    }

    .info .condition, .price-content{
        flex-direction: column;
        align-items: center;
    }

    .booking-btn{
        border-radius: 10px !important;
        width: 200px !important;
        height: 45px !important;
        margin-top: 30px;
    }
    
    .info .condition p{
        width: 90%;
    }

    .price-content{
        height: auto !important;
    }
    .price{
        height: 50px !important;
    }

    /* connexion.html */
    #page_connexion form{
        width: 100%;
        padding: 50px 0 0 0;
        border-radius: 0;
        box-shadow: none;
    }
    #page_connexion form p{
        padding : 0 30px 30px 30px;
    }

    #page_connexion p{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page_registration h2{
        margin-bottom: 0;
        font-size: 35px
    }

    /* gallerie.html */

    #gallery div a img{
        width: 100%;
    }
}


@media screen and (max-width : 829px){
    #content{
        width: 100%;
    }
    /* Menu */

    #menu{
        height: 50px;
    }

    #logo-mobile{
        display: flex;
    }

    #logo{
        display: none;
    }

    #connect{
        display: none;
    }

    #content-connect{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
    }

    #content-logo{
        justify-content: center;
        margin-top : 50px;
        height: 205px !important;
    }

    #menu .burger{
        display: block;
        height: 50px;
    }

    #menu{
        background: #2baae2;
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
    }

    #menu nav{
        width: 100% !important;
        overflow: hidden;
        height: 0;
        position: relative;
        top: 44px;
        z-index: 1;
        background: #2baae2;
        -webkit-transition: height .2s;
        transition: height .2s;
    }

    #main-menu ul{
        flex-direction: column;
    }

    #main-menu ul li a{
        color: #fff
    }

    #main-menu ul li a:focus, #main-menu ul li a:hover{
        color: #2baae2;
        background: #fff;
    }


    #main-menu ul li {
        width: 100%;
    }

   body #main-menu ul li:nth-child(4){
        width: 100% !important;
    }

    /* Slider */

    section{
        margin-bottom: 50px;
    }

    #slider{
        height: auto;
    }

    .slider1{
        display: none;
    }

    #part-1{
        display: none;
    }
/* CAR.HTML */
    #content-details img{
        height: auto;
    }

    .details, .info{
        width: 100%;
        border: 0;
    }

    .title-info{
        border-top :0 !important;
    }

    #content-details, #page_connexion, #page_registration, #gallery, #contact, #mention, #plan{
        margin-top: 20px;
    }

    #page_connexion h2{
        margin-bottom: 0;
    }

    /*BOOKING.HTML*/
    #search-content select{
        margin-right: 0;
    }

}

 @media all and (min-width: 600px) and (max-width : 829px){
    .slider2{
        display: flex;
        width: 100%;
    }
} 

@media screen and (max-width : 1000px){
    /* INDEX.HTML */
    #description div{
        width: 100%;
    }

    #description div:nth-child(2) p{
        padding: 0px 20px;
    }

    figure{
        margin-bottom : 50px;
    }

    #step{
        margin-bottom: 0;
    }
/* FOOTER */
    #footer{
        margin-top : 50px;
    }

    .footer-inner{
        justify-content: center;
    }

    .block-footer-inner{
        width: 220px;
        margin-bottom: 50px;
    }

 

/* BOOKING.HTML module de recherche */
    .select{
        margin-top: 20px;
    }

    .select-content{
        padding : 0px
    }

    #search-content form{
        justify-content: space-around;
        height: 100%;
    }

    #content-cars div{
        justify-content: space-around;
    }

    /* car.html */
    #content-cars h2{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width : 880px)
{
   .footer-inner{
       width: 100%;
   } 
   footer{
       height: auto;
   }
}

@media screen and (max-width : 333px)
{
    .car{
        width: 100%;
    }
}

/* Styles de base pour le conteneur */
#gallery {
    text-align: center;
    padding: 20px;
}

#gallery .flex-wrap {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les cartes */
    flex-wrap: wrap;
}

.card {
    background-color: #f8f8f8; /* Couleur de fond des cartes */
    border: 1px solid #ddd; /* Bordure des cartes */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px;
    width: 300px; /* Largeur fixe des cartes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments à l'intérieur des cartes */
    text-align: center; /* Centre le texte */
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 10px 0;
}







