{% extends 'base.html.twig' %}

{% block title %}Édition 
    {% if type == 'marque' %}de la marque
    {% elseif type == 'modele' %}du modèle
    {% elseif type == 'categorie' %}de la catégorie
    {% endif %}
    {% endblock %}

{% block body %}
<section class="flex-center" id="page_registration">
    <h2>Édition 
        {% if type == 'marque' %}de la marque
        {% elseif type == 'modele' %}du modèle
        {% elseif type == 'categorie' %}de la catégorie
        {% endif %}</h2>
            <div class="form-container">
            {{ form_start(form, {'attr': {'class': 'forms'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            </div>
</section>
{% endblock %}
