{% extends 'base.html.twig' %}

{% block title %}Plan du site{% endblock %}

{% block body %}
<section id="plan">
    <h2>Plan du site</h2>
    <ul>
        <li>
            <a href="">Accueil</a>
        </li>
        <li class="list-plan">
            <a href="">Connexion</a>
        </li>
        <li class="list-plan">
            <a href="">Inscription</a>
        </li>
        <li class="list-plan">
            <a href="">Galerie</a>
        </li>
        <li class="list-plan">
            <a href="">Réservation en ligne</a>
        </li>
        <li class="list-plan">
            <a href="">Contact</a>
        </li>
        <li class="list-plan">
            <a href="">Mentions légales</a>
        </li>
        <li class="list-plan">
            <a href="">Plan du site</a>
        </li>
    </ul>
</section>
{% endblock %}