{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
<section class="flex-wrap flex-center" id="step">
    <h2 class="map">Trouvez une borne de recharge</h2>
    <iframe src="https://odre.opendatasoft.com/explore/embed/dataset/bornes-irve/map/?disjunctive.region&disjunctive.departement&location=6,44.60001,4.78592&basemap=jawg.light&static=false&datasetcard=false&scrollWheelZoom=false" width="800" height="1080" min-height="800" style="min-height: 800px;" frameborder="0"></iframe>
</section>
{% endblock %}
