{% extends 'base.html.twig' %}
{% block description %}Galerie de vehicule par categorie{% endblock %}
{% block title %}Galerie{% endblock %}

{% block body %}
<section id="gallery">
    <h2>Galerie</h2>
    <p style="margin-bottom: 50px;">Découvrez tous nos véhicules. Cliquez sur une images pour afficher les véhicules correpondant à la même catégorie.</p>
    <div class="grid-container">
                {% for categorie, image in imagesParCategorie %}
        <div class="form-container">
                    <h3 class="titre-galerie">{{ categorie }}</h3>
                {% if image %}
                    <a href=" {{ path('vehiculeByCategorie_galerie', {'categorie': image.categoryId} ) }} "><img class="voit-gallery" src="{{ image.img }}" alt="Image de {{ categorie }}"></a>
                {% else %}
                    <p>Aucune image disponible pour cette catégorie.</p>
                {% endif %}
        </div>
                {% endfor %}
    </div>
</section>
{% endblock %}
